.main {
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
}

.container {
    padding: 0 22rem;
}
/* decrease the padding to 5 rem for tablet devices */
@media only screen and (max-width: 1400px) {
    .container {
        padding: 0 5rem;
    }
}
@media only screen and (max-width: 600px) {
    .container {
        padding: 0 2.5rem;
    }
}
